body {
  font-family: Arial;
  background: #121212;
  color: white;
  margin: 0;
}

header {
  background: #e50914;
  padding: 15px;
  text-align: center;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.book {
  background: #1e1e1e;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.book img {
  width: 100%;
  border-radius: 5px;
}

.book a {
  display: block;
  margin-top: 10px;
  background: #e50914;
  padding: 8px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
